.App {
	font-family: sans-serif;
	text-align: center;
}

#chart-area {
	width: 100%;
	height: 400px;
}

#chart-area svg {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.test-rectangle {
	width: 5px;
	height: 5px;
	fill: blue;
}

.x-bar text {
	transform: translate(-1px, 8px);
	text-anchor: middle;
	font-size: 12px;
	fill: #b0bac9;
}

.y-bar text {
	transform: translate(-8px, 0px);
	font-size: 12px;
	fill: #b0bac9;
}
